*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: cornflowerblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    max-width: 600px;
    padding: 1rem;
    background-color: rgba(255,255,255, 0.4);
    border-radius: 7px;
}
input{
    width: 100%;
    padding: .8rem 1rem;
    outline: 0;
    border: 0;
    font-weight: 600;
    font-size: 1rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
h2{
    color: navy;
    padding: 1rem 0 .7rem;
}

button{
    padding: .8rem 1rem;
    width: 120px;
    margin-top: 1.5rem;
    background-color: aliceblue;
    border: 0;
    border-radius: 5px;
}

.reset{
    background-color: cornflowerblue;
}
 
.tip-btn:hover{
    background-color: cornflowerblue;
}